.post {
    display: flex;
    border: 1px solid #cccc;
    margin: 10px 0;
    padding: 10px 0;
}
.post__image {
    width: 10%;
    position: relative;
}
.post__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.post__short-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.post__actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.post__actions p {
    margin: 0;
}