.comment-part {
    margin: 50px 0;
    display: block;
}
.comment {
    display: flex;
    justify-content: space-between;
    border: 1px solid dimgrey;
    margin: 10px 0;
    padding: 10px;
}
.comment-form {
    border-top: 1px solid darkgray;
    margin-top: 20px;
}