.post-from-header {
    padding: 20px 0;
}

.post-form {
    width: 50%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.form-row label {
    width: 30%;
}
.form-row input, textarea {
    flex-grow: 1;
}